# Frontend
node_modules
dist
dist-ssr
*.local
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Backend
*.pyc
__pycache__/
db.sqlite3
media
.env
venv/
env/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# Terraform Core Ignored Files & Directories
# ==========================================

# Terraform local execution files
.terraform/
.terraform.lock.hcl

# State files (should never be committed when using S3 backend)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Sensitive variables
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform plan files
*.tfplan

# Ignore CLI configuration and crash logs
crash.log
crash.*.log
